body {
    background-color: $bg;
}

section {
    .container {

        &.small-width {
            max-width: $screen-sm;
            margin: 0 auto;
        }
        &.medium-width {
            max-width: $screen-md;
            margin: 0 auto;
        }
        &.large-width {
            max-width: $screen-lg;
            margin: 0 auto;
        }

        .content {
            padding: 3rem $spacing/2;
            
            @include query($screen-md) {
                padding: 6rem $spacing;
            }
        }
    }
}