body {
    background-color: $bg;
    color: $dark;
}

section, header, footer {
    .container {

        &.small-width {
            max-width: $screen-sm;
            margin: 0 auto;
        }
        &.medium-width {
            max-width: $screen-md;
            margin: 0 auto;
        }
        &.large-width {
            max-width: $screen-lg;
            margin: 0 auto;
        }

        .content {
            padding: 0 $spacing/2 2rem $spacing/2;
            
            @include query($screen-md) {
                padding: 0 $spacing 4rem $spacing;
            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.33em;
    letter-spacing: 0.0215em;
}
small, p, a {
    line-height: 2em;
}

h1 {
    font-size: 4em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.66em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.375em;
}
h6 {
    font-size: 1.25em;
}
small {
    font-size: 0.875em;
}
p {
    font-size: 1em;
}

a {
    color: $brand;
    text-decoration: none;
}